#footer {
    position: relative;
    width: 100%;
    height: 25rem;
    background-color: $accent-color;

    .divider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2.5em;

        @include mq("m", "min") {
            height: 4em;
        }
    }
}
