.modal-content {
    .chakra-modal__content-container {
        z-index: 1;

        .chakra-modal__content {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 70%;
            min-height: 35rem;
            padding: 0 1.25rem;
            background: $white;
            box-sizing: border-box;

            @include mq("s", "min") {
                position: relative;
                bottom: 0;
                width: 42.5rem;
                height: 32.5rem;
                min-height: auto;
                margin: auto;
                border-radius: 0.62rem;
            }

            .chakra-modal__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 5rem;
                padding: 2.25rem 0;
                box-sizing: border-box;

                .title {
                    margin: 0;
                    font-size: 1.3em;
                    font-family: "Lato-bold", Arial, Helvetica, sans-serif;
                }

                .chakra-modal__close-btn {
                    margin-left: auto;
                    border: none;
                    background: none;
                    cursor: pointer;
                }
            }

            .chakra-modal__body {
                position: absolute;
                top: 5rem;
                left: 0;
                width: 100%;
                height: calc(100% - (5rem));

                .scroll-container {
                    position: relative;
                    width: 100%;
                    height: 100%;
                }

                .wrapper-content {
                    padding: 0 1.25rem;
                    padding-bottom: 2rem;
                }
            }
        }
    }

    &.privacy-policy,
    &.cookie-policy {
        .chakra-modal__content-container {
            .chakra-modal__content {
                .chakra-modal__body {
                    .scroll-container {
                        .wrapper-content {
                            .title {
                                margin: 0;
                                margin-top: 2rem;
                                font-size: 1.1em;
                                font-family: "Lato-bold", Arial, Helvetica,
                                    sans-serif;
                            }

                            .text {
                                margin: 0;
                                margin-top: 2rem;
                                font-size: 1em;
                            }

                            .list-item {
                                margin: 0.5rem 0;
                            }

                            .img {
                                display: block;
                                width: 90%;
                                margin: 0 auto;
                                margin-top: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
